@import 'sanitize.css';


/*
 * For postcss-custom-properties test
 */
:root {
  --color: red;
}

body {
  background-color: gray;
}

#js-app-container {
  .root {
    color: var(--color);
  }
}

/*
 * For autoprefixer test
 */
a {
  display: flex;
}


@import '_foo.scss';
